body {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 700px;
    margin-top: 16vh;
    margin-left: auto;
    margin-right: auto;
}

#big-name-header {
    text-align: center;
}

.big-letter {
    display: inline-block;
    font-size: 96pt;
    font-weight: bold;
    margin-left: 24pt;
    margin-right: 24pt;
}

#name_r1 {
    color: #ff3838;
    transform: rotate(336deg);
}

#name_o {
    color: #ffa500;
    transform: rotate(0deg);
}

#name_g {
    color: #808000;
    transform: rotate(6deg);
}

#name_e {
    color: #00b0f0;
    transform: rotate(348deg);
}

#name_r2 {
    color: #92d050;
    transform: rotate(356deg);
}

.main-text {
    padding-left: 24pt;
    padding-right: 24pt;
}

.main-text p {
    text-align: center;
}

.main-text p a {
    font-weight: bold;
    color: #aaaaff;
    text-decoration: none;
}