body {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    margin-top: 16vh;
    text-align: center;
}

.container {
    display: inline-block;
}

.banner {
    float: left;
}

#big-name-header {
    margin-top: 16pt;
    margin-bottom: 16pt;
    margin-left: 16pt;
    margin-right: 16pt;
    text-align: left;
    width: 600pt;   /* used to slightly offset text */
}

.big-letter {
    display: inline-block;
    font-size: 96pt;
    font-weight: bold;
    margin-left: 24pt;
    margin-right: 24pt;
}

#name_r1 {
    color: #ff3838;
    transform: rotate(336deg);
}

#name_o {
    color: #ffa500;
    transform: rotate(0deg);
}

#name_g {
    color: #808000;
    transform: rotate(6deg);
}

#name_e {
    color: #00b0f0;
    transform: rotate(348deg);
}

#name_r2 {
    color: #92d050;
    transform: rotate(356deg);
}

.nav-bar-vert {
    float: left;
}

.nav-bar-vert li {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-bar-vert li a:hover {
    opacity: 0.9;
    font-weight: bold;
    transition: opacity 0.5s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 0.6; }
}

.nav-bar-vert li:nth-child(1) img {
    animation-delay: 0s;
}

.nav-bar-vert li:nth-child(2) img {
    animation-delay: 0.2s;
}

.nav-bar-vert li:nth-child(3) img {
    animation-delay: 0.4s;
}

li a img {
    background: #ffffff;
    opacity: 0.6;
    animation: fade-in 2s;
    transition: opacity 0.5s;
    transition-timing-function: ease-in;
}

li a img:hover {
    opacity: 1.0;
    transition: opacity 0.5s;
}

.main-text {
    margin-left: 16pt;
}

.main-text p {
    text-align: left;
}