body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* not sure this is necessary */
#main-container {
    width: 100%
}

#name-header {
    margin-top: 16vh;
    width: 100%;
    text-align: center;
}

.big-letter {
    display: inline-block;
    font-size: 96pt;
    font-weight: bold;
    margin-left: 32pt;
    margin-right: 32pt;
}

#name_r1 {
    color: #ff3838;
    transform: rotate(336deg);
}

#name_o {
    color: #ffa500;
    transform: rotate(0deg);
}

#name_g {
    color: #808000;
    transform: rotate(6deg);
}

#name_e {
    color: #00b0f0;
    transform: rotate(348deg);
}

#name_r2 {
    color: #92d050;
    transform: rotate(356deg);
}

.main-nav-bar {
    width: 100%;
    margin: auto;
    text-align: center;
}

.main-nav-bar li {
    display: inline-block;
    padding-left: 12pt;
    padding-right: 12pt;
}

.main-nav-bar li a {
    font-size: 24pt;
    color: #808080;
    text-decoration: none;
}