body {
    font-family: 'Roboto', sans-serif;
}

.nav-bar-vert {
    float: left;
    padding-top: 48pt;
}

.nav-bar-vert li {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-bar-vert li a {
    font-size: 24pt;
    font-weight: bold;
    color: #222222;
    text-decoration: none;
    opacity: 0.6;
}

.nav-bar-vert li a:hover {
    opacity: 0.9;
    font-weight: bold;
    transition: opacity 0.5s;
}

#medium-name-header {
    text-align: left;
    width: 512pt;   /* used to slightly offset text */
}

.medium-letter {
    display: inline-block;
    font-size: 48pt;
    font-weight: bold;
    margin-left: 12pt;
    margin-right: 12pt;
}


#other {
    background-image: url("./imgs/penguin_background.png")
}