body {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    margin-top: 16vh;
    text-align: center;
}

.container {
    display: inline-block;
}

.banner {
    float: left;
}

#name_r1 {
    color: #ff3838;
    transform: rotate(336deg);
}

#name_o {
    color: #ffa500;
    transform: rotate(0deg);
}

#name_g {
    color: #808000;
    transform: rotate(6deg);
}

#name_e {
    color: #00b0f0;
    transform: rotate(348deg);
}

#name_r2 {
    color: #92d050;
    transform: rotate(356deg);
}